.code-container h4 {
    font-size: 18px;
    font-weight: 300;
    /* margin-left: 20px; */
}

.code-container {
    width: 90%;
    margin: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}

.code-container .code-content {
    margin: 4px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 20px; */
}

.code-header {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    width: 5vw;
    font-size: 18px;
    font-weight: 400;
    margin: 4px;
    padding: 4px;
}

.code-content .label {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.code-container a {
    /* border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8; */
    border:  1px solid #d8d8d8;
    padding: 4px 16px;
    color: rgba(0,0,0,0.65);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.1s ease-out;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
    text-transform: capitalize;
}

.script-code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px;
    background-color: #d9d9d9;
    border-radius: 7px;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
}

.script-title {
    font-size: 14px;
    font-weight: 300;
}

.script-code {
    font-size: 14px;
    font-weight: 300;
}

svg {
    cursor: pointer;
}