.main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 320px;
}

@media screen and (max-width: 600px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}
  